
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
body {
    font-family: "Lato", sans-serif;
}



.pics {
    position: absolute;
    bottom: 0;
    /*display: none;*/
    
}

.pics2 {
    position: absolute;
    bottom: 0;
/*    display: none;*/
    
}
.pics3 {
    position: absolute;
    bottom: 0;
/*    display: none;*/

}
.perc {
    position: absolute;
    box-sizing: border-box;
    padding-top: 215px;
    padding-left: 135px;
    /*display: none;*/
}

.drops-layer-sump {
    
    margin-top: 0;
    height: auto;
    background-color: #fff;
    float: left;
    display: block;

}

.sump-pump {
    width: 150px;
    height: 150px;
    background-color: #31679f;
    padding: 55 0 0 33;
    margin:230 0 0 455;
    border-radius: 150px;
    position: absolute;
    float: left;
    font-size: 30px;
    font-family: Lato;
    font-weight: 600;
    color: #000;
}
.sump-pump:hover{
    background-color: 18528d;
    color: #FFF;
}
.drop {
    background-color: rgba(0,0,0,0);
    width:303px;
    height: 431px;
    position: relative;
    margin:0 0 0 85;
    float:left;
    /*display: none;*/
}
.box {
    background-color: #03a9f4;
    position: absolute;
    width:303px;
    height: 9px;
    bottom: 0px;
    /*display: none;*/
    
}
.drop2 {
    background-color: rgba(0,0,0,0);
    width:303px;
    height: 431px;
    position: absolute;
    margin:100 0 0 670;
    float:left;
    /*display: none;*/
}
.drop3 {
    background-color: rgba(0,0,0,0);
    width:150px;
    height:213px;
    position:absolute;
    margin: 0 0 0 1000;
    float:left;
}
.box2 {
    background-color: #03a9f4;
    position: absolute;
    width:303px;
    height: 9px;
    bottom: 0px;
    /*display: none;*/
    
}
.box3{
    background-color: #03a9f4;
    position: absolute;
    width:105px;
    height:3px;
    bottom:0px;

}
.perc2 {
    position: absolute;
    box-sizing: border-box;
    padding-top: 215px;
    padding-left: 135px;
    text-align: center;
/*    display: none;*/
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}